<!--

<h2>Event Binding</h2>

<br>

<div>
  <button class="btn btn-primary" (click)="botaoClicado()">Clique</button>
</div>

<br>

<div>
  <!– Evento passando o valor do input (value) atraves do event.target.value ou diretamente pelo event ->
  <label>Input Event</label>
  <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)">
</div>

<br>

<div>
  <!– Evento passando o valor do input (value) atraves da referencia #inputTexto ->
  <label>Input #Referência</label>
  <input type="text" #inputTexto (keyup)="onKeyUp(inputTexto.value)" (keyup.enter)="salvarValor(inputTexto.value)">
</div>

<br>

<div>
  <!– Evento passando o mouse em cima ->
  <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">Mouse Evento</span>
</div>

<br>

<h2>Input Properties</h2>

<app-input-property [nome]="nomeDoCurso"></app-input-property>

<br>

<h2>Output Properties</h2>

<contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)" (valorEscolhido)="onSelecionouValor($event)" ></contador>

<div>
  <table>
    <thead>
    <tr>
      <td>Coluna 1</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
       {{valorEscolhido}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-ngswitch></app-diretiva-ngswitch>

<app-diretiva-ngclass></app-diretiva-ngclass>

-->

<app-diretiva-ngstyle></app-diretiva-ngstyle>

<router-outlet></router-outlet>
