<p>Titulo: {{livro.titulo | camelCase}}</p>

<p>Rating: {{livro.rating | number: '1.1-1' }}</p>

<p>Número Páginas: {{livro.numeroPaginas}}</p>

<p>Preço: {{livro.preco | currency: 'BRL'}}</p>

<p>Data Lançamento: {{livro.dataLancamento | date: 'dd/MM/yyyy'}}</p>

<p>Url: {{livro.url}}</p>

<p>Livro: {{livro | json}}</p>

<label for="filtro">Filtro:</label>

<input id="filtro" type="text" [(ngModel)]="filtro">

<label for="curso">Curso:</label>

<input id="curso" type="text" #inputCurso>

<button type="button" (click)="addCurso(inputCurso.value)">Adicionar</button>

<h5>Pipe Puro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArray: filtro ">
    {{liv}}
  </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro: filtro ">
    {{liv}}
  </li>
</ul>
